{% extends 'base2.html' %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Domain model</h5>
            <br>
            <a class="btn btn-primary" href="/model/classifiers" role="button">Classifiers</a>
            <a class="btn btn-primary" href="/model/relationships" role="button">Relationships</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Application model</h5>
            <br>
            <a class="btn btn-primary" href="/model/applications" role="button">Applications</a>
            <a class="btn btn-danger" href="/model/manage/clear" role="button">Clear Application</a>
            <a class="btn btn-success" href="/model/manage/generate" role="button">Generate Application</a>
        </div>

    </div>
{% endblock %}