{% include 'application_header.html' with title=application.name %}

<main role="main" class="container">
    {% block content %}
        <div class="wrapper row usercontent">
            <div class="header" style="margin-left: 0px">
                <div class="add right"><i class="fa fa-plus"></i></div>
            </div>
            <div class="drag col-12">
                <div class="header">
                    <div class="move"><i class="fas fa-arrows-alt-h"></i></div>
                    <div class="decrease">-</div>
                    <div class="size">12</div>
                    <div class="increase">+</div>
                    <div class="add right"><i class="fa fa-plus"></i></div>
                    <div class="edit right"><i class="fas fa-edit"></i></div>
                    <div class="delete right"><i class="fas fa-trash-alt"></i></div>
                </div>
                <div class="content">
                </div>
            </div>
    {% endblock %}
</main>


{% block javascript %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(()=>{
        let sortable_options ={
            change: function (event,ui){
                {#console.log(event,ui);#}
            },
            start: function(e, ui){
                ui.placeholder.height(ui.item.height());
                ui.placeholder.width(ui.item.width());
            },
            handle: ".move",
            placeholder: "highlight",
        };
        $(".wrapper").sortable(sortable_options);
        $(".wrapper.move,.wrapper.increase,.wrapper.decrease").disableSelection()
        $(".usercontent").on('click','.decrease',function(event){
            resize_div(this,false);
        })
        .on('click','.increase',function(){
            resize_div(this,true);
        });
        function resize_div(item,increase = true){
            let div = $(item).parent().parent();
            let classes = $(div).attr('class');
            let regex = /col-([0-9]*)/gm;
            let size = regex.exec(classes)[1];
            if(increase && size == 12)
                return;
            if(!increase && size == 1)
                return;
            let new_size = parseInt(size) + increase - !increase;
            $(div).removeClass("col-"+size).addClass("col-"+new_size);
            $(".size",$(item).parent()).text(new_size);
            console.log(classes,size,new_size)
        }

        $(".usercontent").on('click','.add',function(){
            let target= $(".content",$(this).parent().parent())
            if($(this).parent().parent().hasClass('usercontent'))
                target = $(this).parent().parent().parent()
            $(".wrapper").sortable("destroy");
            if($(target).has(".row").length){
                $(empty_item).appendTo($(".row",target).first());
            }
            else{
                let item = "<div class=\"wrapper row\">"+empty_item+"</div>";
                $(item).appendTo(target.first());
            }
            $(".wrapper").sortable(sortable_options);
        });

        let empty_item = '<div class="drag col-12">'+
                '<div class="header">'+
                    '<div class="move"><i class="fas fa-arrows-alt-h"></i></div>'+
                    '<div class="decrease">-</div>'+
                    '<div class="size">12</div>'+
                    '<div class="increase">+</div>'+
                    '<div class="add right"><i class="fa fa-plus"></i></div>'+
                    '<div class="edit right"><i class="fas fa-edit"></i></div>'+
                    '<div class="delete right"><i class="fas fa-trash-alt"></i></div>'+
                '</div>'+
            '<div class="content"></div>'+
            '</div>';

        $(".usercontent").on('click','.delete',function(){
            $(this).parent().parent().remove();
        });
        {#$(".usercontent").on('click','.edit',function(){#}
        {#    $(".wrapper").sortable("destroy");#}
        {#    let target = $('.content',$(this).parent().parent());#}
        {#    let contents;#}
        {#    $.ajax({#}
        {#        url: '/static/wysiwyg/wysiwyg.html?'+Math.ceil(Math.random()*100),#}
        {#        async: false#}
        {#    }).done(function(data){#}
        {#        contents = data;#}
        {#    });#}
            {#$(".header",target).remove();#}
        {#    let old_contents = "<p>&nbsp;&nbsp;</p>";#}
        {#    old_contents += $(target).html();#}
        {#    target.html(contents);#}
        {#    $(".visual-view").html(old_contents);#}
        {#    $(".header",".visual-view").html("section");#}
        {#    $(".content",".visual-view").css("display",'none');#}
        {# });#}

        $(".usercontent").on('click','.edit',function() {
            {#$(".wrapper").sortable("destroy");#}
            let target = $('.content',$(this).parent().parent());
            $(".header",target).remove();
            let old_contents = $(target).html();
            {#old_contents.remove('.row');#}
            let area  = $("<textarea id='textarea'>").html(old_contents)
            target.html(area);
            tinymce.init({
                selector:'#textarea'
            })
        });
     });
    </script>
    <style>
        .drag{
            display: inline-block;
        }
        .wrapper{
            padding: 5px;
            background: #c0c0c0;
        }
        .drag{
            background: white;
            border: black 1px solid;
            min-height: 40px;
        }
        .header{
            background: #b1b1b1;
            margin-left: -15px;
            margin-right: -15px;
        }
        .header div{
            user-select: none;
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;
        }
        .header div.add{
            background: green;
        }
        .header div.right{
            float: right;
        }
        .col-1 .header div{
            width: 10px;
        }
        .header div.move{
            background: #ff6f00;
        }
        .highlight{
            background: yellow;
        }
    </style>
{% endblock %}