{% extends "base.html" %}

{#{% load static %}#}

{% block title %}
ManageRequirement
{% endblock title %}


{% block content %}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="POST" action="/requirement/" name="title">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title"><h5>Please select a requirement title: </h5></label>
                                    <br/>
                                    <div class="control-group">
                                        {{ title_form.title}}
                                    </div>
                                </div>
                                <br>
                                <p>
                                    <button type="submit" class="btn btn-primary" name="DisplayText">Display text</button>
                                </p>
                            </form>
                            <div class="col-xs-12"><p style="color: red;">{{msg}}</p></div>
                            <div class="col-xs-12"><p style="color: red;">{{msg1}}</p></div>

                            <form method="POST" action="/requirement/" name="raw_text">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="control-group">
                                        <input type="hidden" name="id" value="{{ id }}">
                                        <label for="raw_text">
                                            <textarea id="text_id" name="raw_text" rows="20" cols="100">{{ raw_text }}</textarea>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <p>
                                        <button type="submit" class="btn btn-primary" name="Update">Update Requirement</button>
                                        <button type="button" class="btn btn-primary" onclick="document.getElementById('text_id').value=''">Clear</button>
                                    </p>
                                </div>
                             </form>
                        </div>
                        </div>
                    </div>
                </div><!--/Center Column-->
            </div><!--/container-fluid-->
        </div> <!-- /container -->
    </main>

{% endblock content %}
