{% extends "base.html" %}

{#{% load static %}#}

{% block title %}
Home Page
{% endblock title %}


{% block content %}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="POST" enctype="multipart/form-data" class="navbar-form navbar-left">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h5>Please upload a text file (.txt) or an audio file (.wav):</h5>

                                    <div class="control-group">
                                        <div class="file">
                                            {{form.file}}
                                            <button type="submit" class="btn btn-primary" name="convert">Convert to text</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </form>
                            <div class="col-xs-12"><p style="color: red;">{{msg}}</p></div>

                            <form method="POST" action="" name="text">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="control-group">
                                        <label for="title"><h5>Please name a title for your requirement:</h5></label>
                                        <input type="text" class="form-control" name="title" maxlength="225">
                                        <br>
                                        <h5>Requirement text:</h5>
                                        <br>
                                        <label for="text">
                                            <textarea id="text_id" name="text" rows="20" cols="100">{{ text }}</textarea>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <p>
                                        <button type="submit" class="btn btn-primary" name="generate">Show metadata</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="document.getElementById('text_id').value=''">Clear</button>
                                    </p>
                                </div>
                             </form>

                            <div class="col-xs-12">
                                <label>
                                    <textarea rows="20" cols="100">{{ result }}</textarea>
                                </label>
                            </div>
{#                            <div class="col-xs-12"><p style="color: black;">{{result}}</p></div>#}
                        </div>
                    </div>
                </div><!--/Center Column-->
            </div><!--/container-fluid-->
        </div> <!-- /container -->
    </main>

{% endblock content %}

